@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

.App {
  text-align: center;
}
.content {
  display: inline-block;
}
.middle {
  position: relative;
}

.header, .footer {
  position: relative;
}
canvas, .textBlock {
  
  position: relative;
}


.footerBox, .middleBox {
  float:left;
  margin: 10px;
}
