@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

body {
  margin: 20px;
}

.App {
  text-align: center;
}
.content {
  display: inline-block;
}
.middle {
  position: relative;
  height: 350px;
}
.middleBox{
  height: 100%;
}
.btnStart{
  position: absolute;
  bottom: 0;
  margin: 20px;
  width: 300px;
}

.header, .footer {
  position: relative;
}
canvas, .textBlock {
  
  position: relative;
}


.footerBox, .middleBox {
  float:left;
  margin: 10px;
}
